.header {
	background: @dark-color;
	padding: @padding-base @padding-large;
	.flex-between();

	&__logo {
		color: @light-color;
		font-size: @font-size-large;
		font-weight: bold;
		font-family: @font-family-heading;
		text-decoration: none;

		&:hover {
			color: @primary-color;
			.transition(color);
		}
	}

	&__nav {
		display: flex;
		gap: @margin-base;
	}

	&__link {
		color: @light-color;
		text-decoration: none;
		padding: @padding-base;
		.border-radius(4px);
		.transition();

		&:hover {
			background: @primary-color;
		}
	}

	.responsive(@mobile, {
    flex-direction: column;
    text-align: center;
    
    &__nav {
      margin-top: @margin-base;
      flex-direction: column;
    }
  });
}
